*{  margin: 0;
    font-family: 'Work Sans', sans-serif;
}


/*---------------------------
 header nav section's styles
 -----------------------------*/
.first-container{
    background-color: rgba(255, 144, 14, 0.1);
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 35px 200px;
}
.nav-title{
    font-size: 25px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 40px;
    font-weight: 500;
}

/* --------------------------
    Banner section styles
   -------------------------- */
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.banner-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 150px 0 150px;
    padding: 0 200px;
    
}
.banner-title{
    font-size: 42px;
    text-align: center;
}
.banner-image img{
    width: 100%;
    height: 300px;
}
.btn-primary{
    color: #FFFFFF;
    background-color: #FF900E;
    border: 0;
    border-radius: 5px;
    padding: 10px 15px;
}
.description{
    color: #727272;
    font-weight: 400;  
}

/* --------------------------
    Feature section's styles
   -------------------------- */
.second-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 50px 200px;
}
.feature-title{
    font-size: 32px;
}
.feature-images{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 10px;
    
}
.feature-images img{
    width: 280px;
    height: 320px;
}
.feature-details{
    padding: 150px 0 200px 50px;    
}

/* -------------------------------------
    Enjoyable Feature section's styles
   ------------------------------------- */
.third-container{
    display: flex;
    padding: 30px 150px;
}
.enjoyable-feature-title{
    font-size: 28px;
    border-left: 4px solid #FF900E;
    padding: 10px 200px 10px 10px;
    margin: 10px 50px 10px 0;
}
.feature{
    box-shadow: 0 10px whitesmoke;
    padding: 15px 20px 10px 15px;
    margin: 10px 100px 10px 0;
}
.enjoyable-image img{
    
    width: 500px;
    height: 850px;
}
.enjoyable-image{
    display: inline-block;
    position: relative;
}
.feature-button{
    /* button position */
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(-30%,30%);
    /* button design */
    color: #FFFFFF;
    font-size: 20px;
    background-color: #FF900E;
    border: 0;
    border-radius: 5px;
    padding: 20px 30px;
}

/* -----------------------------
    Some Fact section's styles
   ----------------------------- */
.fourth-container{
    padding: 70px 150px;
}
.card-container{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.button-card{
    border: 1px solid #FF900E;
    border-radius: 5px;
    padding: 20px 25px;
    background-color: white;
    transition: width 1s, height 1s, transform 1s;
}
.button-card:hover{
  width: 150px;
  height: 150px;
  background-color: #f5b062;
  transform: rotate(360deg);
  
}
/*----------------------------
    Sponsor section's styles
   ---------------------------- */
.sponsor-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.sponsor-details{
    text-align: center;
    padding: 20px 200px;
    margin: 0 150px;
}
.sponsor-logo{
    display: flex;
   
}
.sponsor-logo img{
    filter: grayscale(100%);
    opacity: 1;
    margin: 20px 100px 0 30px;
    height: 35px;
    width: 70px;
   
    
}
/* -------------------
     Contact Section
   --------------------*/
.contact{
    display: flex;
    gap: 100px;
    padding: 100px 200px;
    background-color: whitesmoke;
    text-align: left;
}

.contact input[type ="text"],textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
}
.contact a{
    text-decoration: none;
}
/* ---------------------
    Footer section styles
   ---------------------- */
.footer-container{
    margin-top: 50px;
    margin-bottom: 80px;
    text-align: center;
}
.footer-btn{
    border: 0;
    border-radius: 5px;
    padding: 20px 280px;
    background-color: antiquewhite;
}